.App {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

@media (min-width: 768px) {
  .md\:w-2\/3 {
      width: auto;
  }
}

.shadow {
  --tw-shadow: 0 5px 5px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 5 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 5px;
}

button {
  padding: 10px;
  /* background-color: #007bff; */
  color: black;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  /* background-color: #1B1B1E; */
  /* background-color: #dbdbdb; */
  margin: 0;
}



nav ul li {
  padding: 20px;
  border: none;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  text-decoration: none;

}

nav ul li a:hover {
  color: #007bff;
}



/*------------------------ Notification Container */
.notification-container {
  width: 300px;
  height: 300px;
  background-color: rgba(219, 219, 219, 0.2);
  backdrop-filter: blur(10px);
  color: black;
  border-radius: 15px;
  padding: 10px 10px;
  position: absolute;
  bottom: -320px;
  left: -270px;
  z-index: 100;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  font-size: 12px;
}

.notification-container.visible {
  opacity: 1;
  visibility: visible;
}

/* nav .notification-container ul  {

} */

.notification-container span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

